*.idea
*.class

/**/.DS_Store
/**/.idea
/**/.gitignore
/**/.gradle
/**/app/.cxx/*
/**/app/build
/**/.vscode
/**/node_modules
/**/*.log
/**/Unity/Temp/
/**/Unity/Library/
/**/Unity/[Oo]bj/
/**/Unity/*.csproj
/**/Unity/*.sln
/**/.vs/
/**/*.cs.meta
/**/*.meta
/build/*
.cxx
/**/csharp.v2/**/[Oo]bj/
/**/csharp.v2/**/[Bb]in/

/**/Unity.v2/Temp/
/**/Unity.v2/Library/
/**/Unity.v2/[Oo]bj/
/**/Unity.v2/*.csproj
/**/Unity.v2/*.sln
/Android-IMLib/fpnn-imlib-sdk/build
build
/Android-IMKit/fpnn-imlib-sdk/build
